node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
env.js

# macOS
.DS_Store
src/assets/
components/
constants/
helpers/
navigation/
# screens/
chat/
post/
user/
screenshots/
store/
node_modules/
