node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
env.js

# macOS
.DS_Store
src/assets/
components/
constants/
helpers/

# screens/
user/
screenshots/
store/
node_modules/
# components/
app/